{% extends 'base.html.twig' %}

{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron background-image-jumbotron">
        <div class="container">
            <h1 style="color: #E42929;">Mein Serien Reminder</h1>
            <br>
            <p><a class="btn btn-primary btn-success" href="http://mein-serienreminder.dev/web/app_dev.php/register"
                  role="button">Jetzt Registrieren!</a></p>
            <br>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2>Nie mehr eine Serie verpassen.</h2>
                <p></p>
                <p><a class="btn btn-default" href="#" role="button">Details anzeigen »</a></p>
            </div>
            <div class="col-md-4">
                <h2>Entdecke die beliebtesten Serien.</h2>
                <p></p>
                <p><a class="btn btn-default" href="#" role="button">Details anzeigen »</a></p>
            </div>
            <div class="col-md-4">
                <h2>Umfangreiche Serienbibliothek.</h2>
                <p></p>
                <p><a class="btn btn-default" href="#" role="button">Details anzeigen »</a></p>
            </div>
        </div>

    </div> <!-- /container -->

    </body>
{% endblock %}

{% block stylesheets %}
    <style>

    </style>
{% endblock %}
