<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mein Serienreminder</title>
</head>
<body>
{% block topnav %}
    {% include ':topnav-logged-in.html.twig' %}
{% endblock %}


<div class="container" style="margin-top: 70px;">
    <div class="row">
        <h2>Wähle aus, über welche Serie du informiert werden möchtest</h2>
        <p>Du wirst benachrichtigt, sobald eine neue Staffel deiner Lieblingsserie
            online ist</p>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
</div>

</body>
</html>


<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
{% javascripts '@AppBundle/Resources/public/js/*' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}

</body>
</html>
